:root {
    /* color */
    --clr-base:         hsl(249deg, 22%, 12%);
    --clr-surface:      hsl(247deg, 23%, 15%);
    --clr-overlay:      hsl(248deg, 25%, 18%);
    --clr-muted:        hsl(249deg, 12%, 47%);
    --clr-subtle:       hsl(248deg, 15%, 61%);
    --clr-text:         hsl(245deg, 50%, 91%);
    --clr-love:         hsl(343deg, 76%, 68%);
    --clr-gold:         hsl(35deg, 88%, 72%);
    --clr-rose:         hsl(2deg, 55%, 83%);
    --clr-pine:         hsl(197deg, 49%, 38%);
    --clr-foam:         hsl(189deg, 43%, 73%);
    --clr-iris:         hsl(267deg, 57%, 78%);
    --clr-high:         hsl(248deg, 13%, 36%);

    /* font family */
    --ff-heading:   'Montserrat', sans-serif;
    --ff-body:      'Hind', sans-serif;

    /* font size */
    --fs-100: clamp(0.7813rem, 0.7748rem + 0.0325vw, 0.8rem);
    --fs-200: clamp(0.9375rem, 0.9159rem + 0.1085vw, 1rem);
    --fs-300: clamp(1.125rem, 1.0819rem + 0.2169vw, 1.25rem);
    --fs-400: clamp(1.35rem, 1.2767rem + 0.3688vw, 1.5625rem);
    --fs-500: clamp(1.62rem, 1.5051rem + 0.5781vw, 1.9531rem);
    --fs-600: clamp(1.9438rem, 1.7722rem + 0.8633vw, 2.4413rem);
    --fs-700: clamp(2.3325rem, 2.0844rem + 1.2484vw, 3.0519rem);
    --fs-800: clamp(2.7994rem, 2.4491rem + 1.7625vw, 3.815rem);

    /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    /* space */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5417rem + 0.1042vi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8542rem + 0.1042vi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0833rem + 0.2083vi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.625rem + 0.3125vi, 1.875rem);
    --space-l: clamp(2.25rem, 2.1667rem + 0.4167vi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.25rem + 0.625vi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3333rem + 0.8333vi, 5rem);
    --space-3xl: clamp(6.75rem, 6.5rem + 1.25vi, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2083rem + 0.5208vi, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4375rem + 0.625vi, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.75rem + 0.625vi, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.875rem + 1.25vi, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4167rem + 1.3542vi, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.75rem + 2.5vi, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8333rem + 2.7083vi, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.5rem + 5vi, 7.5rem);

    /* Two-up pairs */
    --space-3xs-xs: clamp(0.3125rem, 0.1042rem + 1.0417vi, 0.9375rem);
    --space-2xs-s: clamp(0.5625rem, 0.3333rem + 1.1458vi, 1.25rem);
    --space-xs-m: clamp(0.875rem, 0.5417rem + 1.6667vi, 1.875rem);
    --space-s-l: clamp(1.125rem, 0.6667rem + 2.2917vi, 2.5rem);
    --space-m-xl: clamp(1.6875rem, 1rem + 3.4375vi, 3.75rem);
    --space-l-2xl: clamp(2.25rem, 1.3333rem + 4.5833vi, 5rem);
    --space-xl-3xl: clamp(3.375rem, 2rem + 6.875vi, 7.5rem);

    /* Custom pairs */
    --space-xs-xl: clamp(0.875rem, -0.0833rem + 4.7917vi, 3.75rem);
}
