.hidden {
    clip:           rect(0 0 0 0);
    clip-path:      inset(50%);
    height:         0px;
    overflow:       hidden;
    position:       absolute;
    white-space:    nowrap;
    width:          0px;
}

.italic, em {
    font-style: italic;
}

.bold, strong {
    font-weight:    600;
    font-style:     normal;
}

.outline {
    transition: outline var(--animate-t) var(--animate-f);

    &:hover, &:focus, &:focus-visible {
        outline-offset: 2px;
        outline:        var(--clr-foam) solid 2px;
    }
}

.border {
    transition: 
        background-color var(--animate-t) var(--animate-f),
        box-shadow var(--animate-t) var(--animate-f);

    &:hover, &:focus, &:focus-visible {
        outline: unset;

        background-color:   var(--clr-muted);
        box-shadow:         inset 0 0 0 2px var(--clr-foam);
    }
}

.animate-fade-in {
    --animate-f: ease-in;

    opacity:    1;
    transition: opacity var(--animate-t) var(--animate-f);

    &.htmx-added {
        opacity: 0;
    }
}
