.hidden {
    clip:           rect(0 0 0 0);
    clip-path:      inset(50%);
    height:         0px;
    overflow:       hidden;
    position:       absolute;
    white-space:    nowrap;
    width:          0px;
}

.italic, em {
    font-style: italic;
}

.bold, strong {
    font-weight:    600;
    font-style:     normal;
}

.animate {
    &:hover, &:focus, &:focus-visible {
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
    }
}

.outline {
    &:hover, &:focus, &:focus-visible {
        outline-offset: 2px;
        outline: var(--clr-foam) solid 2px;
    }
}

.border {
    &:hover, &:focus, &:focus-visible {
        outline: unset;

        transition-timing-function: var(--transition-timing-function);
        transition-duration: var(--transition-duration);

        background-color: var(--clr-muted);
        box-shadow: inset 0 0 0 2px var(--clr-foam);
    }
}
