article {
    background: var(--clr-surface);

    border-radius:  var(--space-3xs-2xs);

    padding-block: var(--space-m-l);
    padding-inline: var(--space-m-l);

    /* margin spacing */
    & > * + * {
        --_margin-top:  var(--space-xs-s);

        margin-top:     var(--_margin-top);
    }

    & > * + button {
        --_margin-top:  var(--space-l-xl);
    }

    & > * + h1,
    & > * + h2,
    & > * + h3 {
        --_margin-top:  var(--space-m-l);
    }

    & ul {
        list-style-position: inside;
    }

    & pre {
        padding: var(--space-xs);
        background: var(--clr-overlay);
        font-size: var(--fs-200);
        overflow-x: auto;

        & > code {
            word-wrap: break-word;
        }
    }
}
