.call-to-action {
    width: fit-content;

    text-align: center;
    display: inline-block;
    text-decoration: none;

    padding-block: var(--space-s);
    padding-inline: var(--space-l);

    color: var(--clr-base);
    background: var(--clr-foam);

    border-radius: var(--space-xs);

    &:hover,
    &:focus,
    &:focus-visible {
        outline: unset;

        transition:
            color var(--animate-t) var(--animate-f),
            background var(--animate-t) var(--animate-f),
            box-shadow var(--animate-t) var(--animate-f);

        color: var(--clr-text);
        background: var(--clr-surface);
        box-shadow: inset 0 0 0 2px var(--clr-foam);
    }
}
