body>footer {
    align-items: center;
    display: flex;
    flex-direction: column;

    --_col: color-mix(in srgb, color-mix(in srgb, var(--clr-text), var(--clr-base) 50%), black 60%);

    margin-block-start: auto;
    padding-block: var(--space-xl);

    background: color-mix(in srgb, var(--_col), black 60%);
    border-block-start: 2px solid var(--clr-high);
    color: color-mix(in srgb, var(--_col), white 60%);
    font-size: var(--fs-100);
    text-align: center;

    &>*+* {
        margin-block-start: var(--space-s);
    }

    & nav {
        display: flex;
        gap: var(--space-s);
    }
}
