body>header {

    display: flex;

    flex-wrap: wrap;
    gap: var(--space-s-m);
    padding-block: var(--space-s-m);
    padding-inline: max(calc((100% - var(--max-width)) / 2), var(--space-xs-m));

    font-weight: 400;
    font-family: var(--ff-heading);
    font-size: var(--fs-400);

    background: var(--clr-base);
    position: sticky;
    top: 0;
    z-index: 2;

    &>* {
        --clr-bg-parent: var(--clr-base);
    }


    & a {
        color: inherit;
        display: flex;
        width: var(--space-l);
        height: var(--space-l);
        align-items: center;
        justify-content: center;
    }

    & .icon {
        height: 100%;
        width: unset;
        aspect-ratio: 1;
        transition: scale var(--animate-t) var(--animate-f);
    }

    & #left {
        display: flex;
        flex: 1;

        gap: var(--space-xs-s);
        align-items: center;
        justify-content: space-between;
    }

    & #nav {
        display: flex;
        gap: var(--space-xs-s);
        flex: 2;
        justify-content: flex-end;
        align-items: center;

        & li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;

            & a {
                border-radius: var(--space-3xs);

                &:hover,
                &:focus,
                &:focus-visible {
                    & .icon {
                        scale: 0.7;
                    }
                }
            }
        }
    }
}
