.hero {
    display: grid;

    gap: var(--space-s-l);

    align-items: center;
}

.hero .text {
    display: flex;

    flex-direction: column;

    justify-content: center;
    margin-block-end: var(--space-s-l);

    &>*+* {
        margin-block-start: var(--space-xs-s);
    }

    & .subtitle {
        text-transform: uppercase;
        font-size: var(--fs-100);
        color: var(--clr-pine);
        font-weight: 700;
    }
}
