.icon {
    display: inline-block;

    color: var(--clr-text);

    font-size: inherit;

    width: 1em;
    height: 1em;

    contain: strict;

    box-sizing: content-box !important;

    & .content {
        color: inherit;

        height: inherit;
        width: inherit;

        stroke: currentColor;
        font-size: inherit;
        fill: currentColor;

        & * {
            display: block;
            font-size: inherit;

            height: 100%;
            width: 100%;
        }
    }
}
