main {
    --dot-bg: var(--clr-base);
    --dot-color: var(--clr-high);
    --dot-size: 1px;
    --dot-space: var(--space-s-l);

    background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    background-attachment: fixed;
}
